* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* Stile dei contenitori: */

body {
    background: #1E2D3B;
    min-height: 100vh;
}

/* Stile dell'header: */

header {
    width: 100%;
    height: 70px;
    background: rgba(46, 58, 70, 0.7);
    padding: 25px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: ivory;
}

header input {
    background-color: rgb(16, 28, 40);
    height: 35px;
    padding: 0 10px;
    color: ivory;
    border: none;
}

header button {
    margin-left: 10px;
    color: ivory;
    background-color: transparent;
    border: none;
}

header button:hover {
    cursor: pointer;
    color: cyan;
}

/* Stile del container film: */

.film-container {
    padding: 10px 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

/* Stile dei singoli blocchetti film: */

.film-container .film-box {
    padding: 5px;
    background-color: rgb(16, 28, 40);
    color: ivory;
    border-radius: 10px;
    margin: 5px 0;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.film-container .film-box .text-box {
    display: none;
}

.film-container .film-box .text-box p {
    font-size: 75%;
    text-align: justify;
}

.film-container .film-box img.copertina {
    height: 250px;
    border-radius: 10px;
    display: none;
}

.row-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* Stile di supporto per visualizzazione: */

.film-container .film-box img.copertina.active {
    display: block;
}

.film-container .film-box .text-box.active {
    display: block;
    max-height: 250px;
    overflow-y: auto;
}
